#header{
    border: 1px solid #a7a5a5;
    width: 100%;
    height: 10%;
   display: flex;
    justify-content: center;
    background-color: white;
}

#custom{    
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
}

select{
    display: inline-block;
    margin: 1%;
}
#palete{
    margin: 1%;
    display: flex;
    margin-left: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
    background-color: white;
}
#color{
    margin: 1%;
}

#fontSize
{
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
    background-color: white;
}
#inputfont{
    border: 1px solid #a7a5a5;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1%;
}
#clear{
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
    background-color: white;
}
#erase{
    height: 100%;
    border: 1px solid #cecece;
    border-radius: 4px;
    font-size: 15px;
    color: red;
}
#sketch-box{
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
    background-color: white;
}
#sketch{
    height: 100%;
    border: 1px solid #cecece;
    border-radius: 4px;
    font-size: 15px;
    color: black;
}
#erase-box{
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: .5%;
    border: .5px solid #bebebe;
    background-color: white;
}

#clearCanvas{
    height: 100%;
    border: 1px solid #cecece;
    border-radius: 4px;
    font-size: 15px;
    color: red;
}
canvas{
    background-color:transparent;
    height: 80%;
    width: 90%;
    display: flex;
    margin: auto;
    border: 1px solid #a7a5a5;
    background-color: white;
    border-radius: 4px;
}
.eraser{
    /* width: 10%; */
    height: 50%;
}
body{
    background-color: rgb(247, 245, 245);
}
